*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
body{
    background: url(./img/background.jpg) center no-repeat;
    background-size: cover;
    
    
}



p{
    color: #FFF;
}

.container{
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 2rem;    
    gap: 2rem;
    min-height: 100vh;
}

.life-points-container{
    
    padding: 1rem 2rem;
    width: 200px;    
    font-size: 2rem;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(4px);
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;    
    justify-content: space-between;  
     
}

.life-points-container li{
    display: flex;
    justify-content: space-between;    
    margin-top: 1rem; 
}

.btn{
    background-color: green;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}    

.life-points-container li:nth-child(1) i{
    color: rgb(243, 57, 57);
}

.life-points-container li:nth-child(2) i{
    color: rgb(135, 185, 185);
    margin-bottom: 2rem;
}

h1{
    text-transform: uppercase;
    color: #FFF;
}

.container-cards{       
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: .5rem;   
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.4);    
    border-radius: 2rem;
    perspective: 200px;    
}

.card{       
    border-radius: .5rem;
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    background-color: black;    
    transition: .3s;
    perspective: 200px; 
    cursor: pointer;
}

.card:hover{
    box-shadow: 3px 3px 16px rgba(0,0,0,0.6);
}

.card div{
    width: 100%;
    height: 100%;
    position: absolute;     
    transition: .3s; 
    backface-visibility: hidden;    
   
}

.card .front img, .back img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card.flip .front{
    transform: rotateY(360deg);
    
}

.card.flip .back{
    transform: rotateY(180deg);
    
}

.card.valid{
    animation: valid .5s ease-in forwards .5s;
}

@keyframes valid {
    0%{
        transform: rotate(2deg);

    }
    25%{
        transform: rotate(-5deg);

    }
    50%{
        transform: rotate(2deg);

    }
    75%{
        transform: rotate(-5deg);

    }
    100%{
        transform: translate(0deg);
    }
    
}










