*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
body{
    background: url(./img/background.jpg) center;
    
}

.container{
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    gap: 2rem;
    
    

}

.life-points-container{
    
    padding: 1rem 2rem;
    width: 200px;
     font-size: 2rem;
     border-radius: 1.5rem;
     background-color: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(4px);
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 2rem;
    
     
}

.life-points-container li{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    

}


    
    

.life-points-container li:nth-child(1) i{
    color: rgb(243, 57, 57);
}

.life-points-container li:nth-child(2) i{
    color: rgb(135, 185, 185);
}



h1{
    text-transform: uppercase;
    color: #FFF;
}


.container-cards{
       
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 1rem;    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 2px 5px 15px 0px rgba(0,0,0,0.4);    
    border-radius: 2rem;
    perspective: 200px;
    
}


.card{
       
    border-radius: 1rem;
    width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: .3s;
    perspective: 200px; 
    
    

}


.card div{
    width: 100%;
    height: 100%;
    position: absolute;     
    transition: .6s; 
    backface-visibility: hidden;    
   
}

.card .front img, .back img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}


.card.flip .front{
    transform: rotateY(360deg);
    
}

.card.flip .back{
    transform: rotateY(180deg);
    
}

.card.hidden .front{
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s;
    
    
}

.card.hidden .back{
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s;
    
    
}








